.header{
  background: linear-gradient(#42378F,#F53844 );
  border-bottom: 1px black solid;
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

  }
  &__currency{
    ul{
      display: flex;
      gap: 15px;
    }
  }
}
