.convertor{
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
  small{
    margin: 0 auto;
  }
  }
}